
.heading{
	color: 	white;
	font-size: 66px;
	font-family: 'Open Sans', sans-serif;
}

.sub
{
text-align: center;
font-size: 20px
color:#87CEFA;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}